In [5]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('grainsales.csv')

In [6]:
grain_sales = df.groupby('GrainName')['Sales'].sum()
print("Total sales for each grain:")
print(grain_sales)

monthly_avg_sales = df.groupby('Months')['Sales'].mean()
print("Average sales per month:")
print(monthly_avg_sales)


top_cities = df.groupby('City')['Sales'].sum().nlargest(3)
print("Top 3 cities with the highest sales:")
print(top_cities)



yearly_sales = df.groupby('Year')['Sales'].sum()
print("Total sales for each year:")
print(yearly_sales)


high_sales_months = df[df['Sales'] > 2000000]['Months'].unique()
print("Months with sales exceeding 2,000,000:")
print(high_sales_months)


state_sales = df.groupby('State')['Sales'].sum()
print("Total sales for each state:")
print(state_sales)


grain_avg_sales = df.groupby('GrainName')['Sales'].mean()
print("Average sales for each grain:")
print(grain_avg_sales)



grain_top_month = df.groupby('GrainName').apply(lambda x: x.loc[x['Sales'].idxmax(), 'Months'])
print("Month with the highest sales for each grain:")
print(grain_top_month)


state = 'Maharashtra'
city_sales = df[df['State'] == state].groupby('City')['Sales'].sum()
print("Total sales for each city in", state, ":")
print(city_sales)


monthly_yearly_sales = df.groupby(['Months', 'Year'])['Sales'].sum()
print("Total sales for each month and year combination:")
print(monthly_yearly_sales)


city_top_grain = df.groupby('City').apply(lambda x: x.loc[x['Sales'].idxmax(), 'GrainName'])
print("Top-selling grain in each city:")
print(city_top_grain)



city = 'Hyderabad'
grain_sales_city = df[df['City'] == city].groupby('GrainName')['Sales'].sum()
print("Total sales for each grain in", city, ":")
print(grain_sales_city)


monthly_yearly_avg_sales = df.groupby(['Months', 'Year'])['Sales'].mean()
print("Average sales for each month and year combination:")
print(monthly_yearly_avg_sales)



year = 2023
state_sales_year = df[df['Year'] == year].groupby('State')['Sales'].sum()
print("Total sales for each state in", year, ":")
print(state_sales_year)



state_top_grain = df.groupby('State').apply(lambda x: x.loc[x['Sales'].idxmax(), 'GrainName'])
print("Top-selling grain in each state:")
print(state_top_grain)



best_month_year = df.groupby(['Months', 'Year'])['Sales'].sum().idxmax()
sales_amount = df.groupby(['Months', 'Year'])['Sales'].sum().max()
print("Month and year with the highest sales:", best_month_year)
print("Sales amount:", sales_amount)




yearly_monthly_sales = df.groupby(['Year', 'Months'])['Sales'].sum()
print("Total sales for each year and month combination:")
print(yearly_monthly_sales)



month = 'JUNE'
state_avg_sales_month = df[df['Months'] == month].groupby('State')['Sales'].mean()
print("Average sales for each state in", month, ":")
print(state_avg_sales_month)



state = 'Maharashtra'
month_sales_state = df[df['State'] == state].groupby('Months')['Sales'].sum()
print("Total sales for each month in", state, ":")
print(month_sales_state)

Total sales for each grain:
GrainName
Bajra           6000000
Brown rice     14000000
Corn           13500000
Oats            4000000
Ragi            5000000
Sattu           5000000
Sooji           9000000
Wheat          16000000
Name: Sales, dtype: int64
Average sales per month:
Months
APRIL    2500000.0
AUG      4500000.0
FEB      1500000.0
JAN      1000000.0
JULY     4000000.0
JUNE     3500000.0
MARCH    2000000.0
MAY      3000000.0
Name: Sales, dtype: float64
Top 3 cities with the highest sales:
City
Asansole     16000000
Hyderabad    14000000
Kanpur       13500000
Name: Sales, dtype: int64
Total sales for each year:
Year
2023    72500000
Name: Sales, dtype: int64
Months with sales exceeding 2,000,000:
['APRIL' 'MAY' 'JUNE' 'JULY' 'AUG']
Total sales for each state:
State
Gujarat         5000000
Hariyana        4000000
Maharashtra     5000000
Panjab          6000000
Tamil Nadu      9000000
Telangana      14000000
UP             13500000
West Bengol    16000000
Name: Sales, dtype: int64
Average sales for each grain:
GrainName
Bajra          1500000.0
Brown rice     3500000.0
Corn           4500000.0
Oats           2000000.0
Ragi           1000000.0
Sattu          2500000.0
Sooji          3000000.0
Wheat          4000000.0
Name: Sales, dtype: float64
Month with the highest sales for each grain:
GrainName
Bajra            FEB
Brown rice      JUNE
Corn             AUG
Oats           MARCH
Ragi             JAN
Sattu          APRIL
Sooji            MAY
Wheat           JULY
dtype: object
Total sales for each city in Maharashtra :
City
Nagpur    5000000
Name: Sales, dtype: int64
Total sales for each month and year combination:
Months  Year
APRIL   2023     5000000
AUG     2023    13500000
FEB     2023     6000000
JAN     2023     5000000
JULY    2023    16000000
JUNE    2023    14000000
MARCH   2023     4000000
MAY     2023     9000000
Name: Sales, dtype: int64
Top-selling grain in each city:
City
Amritsar           Bajra
Asansole           Wheat
Gurugram            Oats
Hyderabad    Brown rice
Kanpur              Corn
Madurai            Sooji
Nagpur              Ragi
Surat             Sattu
dtype: object
Total sales for each grain in Hyderabad :
GrainName
Brown rice     14000000
Name: Sales, dtype: int64
Average sales for each month and year combination:
Months  Year
APRIL   2023    2500000.0
AUG     2023    4500000.0
FEB     2023    1500000.0
JAN     2023    1000000.0
JULY    2023    4000000.0
JUNE    2023    3500000.0
MARCH   2023    2000000.0
MAY     2023    3000000.0
Name: Sales, dtype: float64
Total sales for each state in 2023 :
State
Gujarat         5000000
Hariyana        4000000
Maharashtra     5000000
Panjab          6000000
Tamil Nadu      9000000
Telangana      14000000
UP             13500000
West Bengol    16000000
Name: Sales, dtype: int64
Top-selling grain in each state:
State
Gujarat             Sattu
Hariyana              Oats
Maharashtra           Ragi
Panjab               Bajra
Tamil Nadu           Sooji
Telangana      Brown rice
UP                    Corn
West Bengol          Wheat
dtype: object
Month and year with the highest sales: ('JULY', 2023)
Sales amount: 16000000
Total sales for each year and month combination:
Year  Months
2023  APRIL      5000000
      AUG       13500000
      FEB        6000000
      JAN        5000000
      JULY      16000000
      JUNE      14000000
      MARCH      4000000
      MAY        9000000
Name: Sales, dtype: int64
Average sales for each state in JUNE :
State
Telangana    3500000.0
Name: Sales, dtype: float64
Total sales for each month in Maharashtra :
Months
JAN    5000000
Name: Sales, dtype: int64